@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: rgb(0, 0, 0);
  display: flex;
  flex-direction: column;
  align-items: center;
}

h2 {
  color: rgb(255, 255, 0);
  padding: 1em;
  padding-top: 0.5em;
  padding-bottom: 0;
}
h3 {
  color: rgb(255, 255, 0);
  padding: 1em;
  padding-top: 0;
}

input,
button {
  padding: 0.4em;
  border-radius: 3px;
  border: none;
}

input:focus {
  outline: none;
  box-shadow: 0 0 3px 3px rgb(255, 255, 0);
}

button:focus {
  outline: none;
}

button:active {
  box-shadow: 0 0 3px 3px rgb(255, 255, 0);
}

.content-container {
  margin: 2em;
  display: flex;
  align-items: center;
  flex-direction: column;
  border: 1px solid white;
  border-radius: 6px;
  padding: 1em;
  padding-right: 1.5em;
  padding-left: 1.5em;
}

ul {
  margin-top: 0.5em;
  list-style: none;
  display: flex;
  color: white;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
  justify-content: center;
  padding: 1em;
}

li {
  margin: 1em;
  color: yellow;
}

li:hover {
  cursor: pointer;
}

#characterInfo {
  margin-top: 1.5em;
  margin-bottom: 0;
  padding: 2em;
  color: white;
  background-color: rgb(41, 41, 41);
  left: 0;
  display: none;
  border-radius: 3px;
  width: 80vw;
}

#characterInfo:hover {
  cursor: pointer;
}

#logo {
  display: flex;
  justify-self: center;
  align-items: center;
  flex-direction: column;
}

#logo:hover {
  cursor: pointer;
}

.infoList {
  color: white;
}

#infoList {
  color: white;
}

.more-info {
  color: white;
  display: none;
}
