@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");
@font-face {
  font-family: "Star Wars Font";
  src: url("./assets/Starjedi.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: linear-gradient(rgba(0, 0, 0, 0.801), rgba(0, 0, 0, 0.87)),
    url("./assets/sw-bg2.png");
  background-size: cover;
  background-position: center center;
  height: 100vh;
}

/* Header */
#logo {
  display: flex;
  justify-self: center;
  align-items: center;
  flex-direction: column;
}

#logo:hover {
  cursor: pointer;
}

h2 {
  font-family: "Star Wars Font";
  font-weight: 100;
  font-size: 2rem;
  color: rgb(255, 255, 0);
  padding: 1em;
  padding-top: 0.5em;
  padding-bottom: 0;
}
h3 {
  color: rgb(255, 255, 0);
  padding: 1em;
  padding-top: 0;
  padding-bottom: 1.5em;
}

/* Form */
input,
button {
  padding: 0.4em;
  border-radius: 3px;
  border: none;
}

input:focus {
  outline: none;
  box-shadow: 0 0 3px 3px rgb(255, 255, 0);
}

button:focus {
  outline: none;
}

button:active {
  box-shadow: 0 0 3px 3px rgb(255, 255, 0);
}

/* Main content */
.content-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 1em;
  padding-right: 1.5em;
  padding-left: 1.5em;
}

ul {
  margin-top: 0.5em;
  list-style: none;
  display: flex;
  color: white;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
  justify-content: center;
  padding: 1em;
}

li {
  margin: 1em;
  color: yellow;
}

li:hover {
  cursor: pointer;
}

.more-info {
  color: white;
  display: none;
}
